body {
  margin: 0;
  padding: 0;
  background: url('https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExOHdpeWZ6dW4yYzlvNTdlM2NjOHRvZWtjcWhwZnozZHpkMmR1ajIyZCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/ilDP0ex8AWpqTT1Kz0/giphy.gif') no-repeat center center fixed;
  background-size: cover;
  color: #fff;
  font-family: 'JetBrains Mono', monospace;
  overflow: hidden;
}
